@tailwind base;
/* @tailwind components; */
@tailwind utilities;

.input-right-alight input {
  text-align: right;
  font-size: 1.25rem;
}

.input-large input {
  font-size: 1.5rem;
}

.mantine-NavLink-root {
  &:hover {
    background-color: #2e2e2e !important;
  }
}

nextjs-portal {
  display: none;
}
